@page
@model proyectoIngSoftware.Pages.Empleado.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleados.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleados.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados.IdPuestoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleados.IdPuestoNavigation.IdPuesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empleados.IdEmpleado">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
