@page
@model proyectoIngSoftware.Pages.Empleado.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].IdPuestoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Empleados) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPuestoNavigation.IdPuesto)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdEmpleado">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
