@page
@model proyectoIngSoftware.Pages.Linea.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Lineas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lineas.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lineas.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lineas.Longitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lineas.Longitud)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lineas.IdLinea">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
