@page
@model proyectoIngSoftware.Pages.Estacion.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estaciones</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estaciones.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estaciones.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estaciones.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estaciones.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estaciones.IdMunicipalidadNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estaciones.IdMunicipalidadNavigation.IdMunicipalidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Estaciones.IdEstacion">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
