@page
@model proyectoIngSoftware.Pages.Bus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Buses</h1>

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Buses[0].Capacidad)
            </th>
            <th>
                Linea
            </th>
            <th>
                Parqueo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Buses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLineaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdParqueoNavigation.Ubicacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdBus">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdBus">Detalle</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdBus">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
